@import 'src/assets/styles/helpers';

.top-slider {
    .slick-track {
        display: flex;       
    }

    .slick-arrow {  
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        &::before{
            content: "";
            width: 8px;
            height: 14px;
            display: block;          
        }
    }
    .slick-prev {
        top: -12px;
        left: 28%;
        &::before {
            background: url('../../assets/icons/previous.svg') no-repeat center/cover;
        }
    }
    .slick-next {
        top: -12px;
        right: 60%;
        &::before {
            background: url('../../assets/icons/next.svg') no-repeat center/cover;
        }
    }
}

.top-slider-item {
    position: relative;
    border-radius: 12px;
    min-height: 129px !important;
    padding: 10px 10px ;
    overflow: hidden;
    width: 190px !important;
    margin-top: 30px;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column;

    &__header {
        display: flex;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        height: 129px !important;
        img {
            transform: scale(1.1);
        }
    }

    &__title {
        z-index: 1;
        font-weight: 900;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        
    }
    
    &__description {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        span {
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            color: rgba(249, 249, 249, 0.7);
        }
    }
}

@media (max-width:1900px) {
    .top-slider{
        .slick-slide{
            padding-right: 10px;
        }
    }
}

@media (max-width:1900px) {
    .top-slider{
        .slick-slide{
            padding-right: 10px;
        }
    }
}

@media (max-width:1700px) {
    .top-slider-item {
        width: 170px !important;
    }
}

@media (max-width:1600px) {
    .top-slider {
        .slick-prev {
            top: -12px;
            left: 38%;
            &::before {
                background: url('../../assets/icons/previous.svg') no-repeat center/cover;
            }
        }
        .slick-next {
            top: -12px;
            right: 50%;
            &::before {
                background: url('../../assets/icons/next.svg') no-repeat center/cover;
            }
        }
    }
    .top-slider-item {
        width: 80% !important;

        &__title {
            margin-left: auto;
            font-size: 24px;
        }
    }
}


@media (max-width: 1200px) {
    .top-slider {

        .slick-arrow {  
            display: none !important;
        }
    }
    .top-slider-item {
        &__title {
            margin-left: 0;
            font-size: 24px;
        }
    }
  }

  @media (max-width: 768px) {
    .top-slider-item {
        &__description {
            flex-direction: column;
        }
        &__title {
            font-size: 12px;
        }

        &__actions {
            .button {
                transform: scale(0.8);
            }
        }
    }
  }