@import 'src/assets/styles/helpers';

.right-aside {
  width: 25%;
}

.right-aside-header {
  @include flex($justify: space-between);
  padding-right: 38px;

  &__notification{
    width: 56px;
    height: 56px;
    border-radius: 15px;
    background: rgba(249, 249, 249, 0.2);
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }

  &__profile{
    @include flex($align: center);

    span {
      font-weight: 800;
      font-size: 16px;
      line-height: 100%;
      display: inline-block;
      margin-right: 11px;
      &::before {
        left: 20px;
        background: url('../../assets/icons/previous.svg') no-repeat center/cover;
      } 
    }
  }

  &__profile-picture{
    img {
      width: 56px;
      height: 56px;
      border-radius: 15px;
      &:hover {
        cursor: pointer;
      }
    }
  } 
}

.right-aside-header-arrow {
  transform: rotate(90deg);
  margin-right: 13px;
  &:hover {
    cursor: pointer;
  }
}


.right-aside-action-continue {
  margin-top: 60px;
  &__header {
    display: flex;
    padding-right: 38px;
  }

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
  }

  &__prev {
    transform: rotate(180deg);
    margin-left: 21px;
    opacity: 0.67;
    align-self: center;
  }

  &__next {
    margin-left: 22px;
    align-self: center;
  }

  &__more {
    margin-left: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    opacity: 0.67;
    display: inline-flex;
    align-self: center;
    margin-left: auto;
  }

  &__more-next {
    align-self: center;
    margin-left: 11px;
  }
}

.right-aside-action-top {
  margin-top: 60px;

  &__header {
    display: flex;
    padding-right: 38px;
  }

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
  }

  &__prev {
    transform: rotate(180deg);
    margin-left: 21px;
    opacity: 0.67;
    align-self: center;
  }

  &__next {
    margin-left: 22px;
    align-self: center;
  }

  &__more {
    margin-left: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    opacity: 0.67;
    display: inline-flex;
    margin-left: auto;
    align-self: center;
  }

  &__more-next {
    align-self: center;
    margin-left: 11px;
  }
}

.right-aside-action-genres {
  margin-top: 60px;

  &__header {
    display: flex;
    padding-right: 38px;
  }

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
  }

  &__prev {
    transform: rotate(180deg);
    margin-left: 21px;
    opacity: 0.67;
    align-self: center;
  }

  &__next {
    margin-left: 22px;
    align-self: center;
  }

  &__more {
    margin-left: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    opacity: 0.67;
    display: inline-flex;
    align-self: center;
    margin-left: auto;
  }

  &__more-next {
    align-self: center;
    margin-left: 11px;
  }
}



@media (max-width: 992px) {
  .right-aside {
    width: 30%;
  }
  .right-aside-header{
    &__notification {
      display: none !important;
    }

  }
}

@media (max-width: 768px) {
  .right-aside-action-continue {
    &__title {
      font-size: 14px;
    }
  }
  .right-aside-action-top {
    &__title {
      font-size: 14px;
    }
  }
  .right-aside-action-genres {
    &__title {
      font-size: 14px;
    }
  }
}