@import 'src/assets/styles/helpers';

.continue-slider {
    .slick-track {
        display: flex;          
    }

    .slick-arrow {  
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        &::before{
            content: "";
            width: 8px;
            height: 14px;
            display: block;          
        }
    }
    .slick-prev {
        top: -12px;
        left: 28%;
        &::before {
            background: url('../../assets/icons/previous.svg') no-repeat center/cover;
        }
    }
    .slick-next {
        top: -12px;
        right: 60%;
        &::before {
            background: url('../../assets/icons/next.svg') no-repeat center/cover;
        }
    }
}

.continue-slider-item {
    position: relative;
    background-color: $main;
    border-radius: 12px;
    height: 129px;
    overflow: hidden;
    padding: 10px 10px ;
    margin-top: 30px;
    width: 190px !important;
    

    &__header {
        display: flex;
    }
    &__img {
        width: 55px;
        height: 59px;
       img {
        border-radius: 8px;
       }
    }

    &__title {
        margin-left: 10px;
        font-weight: 900;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}


@media (max-width:1900px) {
    .continue-slider{
        .slick-slide{
            padding-right: 10px;
        }
    }
}

@media (max-width:1700px) {
    .continue-slider-item {
        width: 170px !important;
    }
}

@media (max-width:1600px) {
    .continue-slider {
        .slick-prev {
            top: -12px;
            left: 38%;
            &::before {
                background: url('../../assets/icons/previous.svg') no-repeat center/cover;
            }
        }
        .slick-next {
            top: -12px;
            right: 50%;
            &::before {
                background: url('../../assets/icons/next.svg') no-repeat center/cover;
            }
        }
    }
    .continue-slider-item {
        width: 80% !important;

        &__title {
            margin-left: auto;
            font-size: 24px;
        }
    }
}



@media (max-width: 1200px) {
    .continue-slider {

        .slick-arrow {  
            display: none !important;
        }
    }

    .continue-slider-item {
        &__title {
            font-size: 16px;
        }
    }
  }